<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Tournaments" connectionString="Data Source=LAPTOP-LOC1DJ2G;Initial Catalog=Tournaments;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="filePath" value="C:\code\c#\Tournament Tracker\TextData\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!-- Data Source=LAPTOP-LOC1DJ2G;Initial Catalog=Tournaments;Integrated Security=True -->